/* ==========================================================================
  Alert
  ---
  Use alerts for messaging across the application.
  Rules of this file: this file is ONLY for layout, please see alert-skins.scss for colors
   ========================================================================== */

/* Component
   ========================================================================== */

.c-alert {
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .o-svg-icon-close {
    cursor: pointer;
  }
}

.c-alert__body {
  display: flex;
  align-items: center;
  .c-icon {
    margin-right: .8rem;
  }
}

.c-alert__text {
  .c-alert__title {
    font-weight: 500;
    margin-bottom: .2rem;
  }
  .c-alert__message {
    margin-bottom: 0;
  }
}

