/* ==========================================================================
  Buttons
  ---
  This code is about button layout. For button look, see _c-button-skins.scss
   ========================================================================== */

/* Variables
   ========================================================================== */

// Border radius
$c-button-border-radius: 0.3rem !default;

// Sizes (heights)

$c-button-height: 3.4rem !default;
$c-button-height-small: 3.2rem !default;

// Font size

$c-button-font-size: 1.6rem;
$c-button-font-size-small: 1.3rem;

// Line height

$c-button-line-height: 2.2rem;
$c-button-line-height-small: 1.8rem;

// Horizontal padding (border included)

$c-button-padding-horizontal: 1.6rem !default;
$c-button-padding-horizontal-small: 1rem !default;

// Spacing between icon and label

$c-button-icon-spacing: .4rem !default;
$c-button-icon-spacing-small: 0 !default;


/* Default size
   ========================================================================== */

.c-button {
  border: none;
  appearance: none; // Fix for Mobile Safari
  text-decoration: none; // to reset <a> element
  cursor: pointer;
  vertical-align: middle;
  border-radius: $c-button-border-radius;
  padding: (($c-button-height - $c-button-line-height) / 2) $c-button-padding-horizontal;
  font-size: $c-button-font-size;
  text-align: center;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

a.c-button {
  display: inline-flex;
  justify-content: center;
}

button.c-button {
  appearance: none;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.c-button .c-button__content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-button__label {
  line-height: $c-button-line-height;
  white-space: nowrap;
}

.c-icon + .c-button__label,
.c-button__label + .c-icon {
  margin-left: $c-button-icon-spacing;
}

.c-button:not(.c-button--icon) .c-icon:first-child {
  margin-left: -0.4rem;
}

.c-button:not(.c-button--icon) .c-icon:last-child {
  margin-right: -0.4rem;
}

/* icon Button (Square)
   ========================================================================== */

.c-button--icon {
  height: 3.6rem;
  width: 3.6rem;
  padding: 0;
  display: inline-flex;
  .o-svg-icon {
    width: 2rem;
    height: 2rem;
  }
}

.c-button--icon .c-button__content,
.c-button--icon .c-button__icon-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
}

.c-button--icon .c-button__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-button--small.c-button--icon {
  padding: ($c-button-height-small - $c-button-line-height-small)/2;
}

/* Block button
   ========================================================================== */

.c-button--block {
  width: 100%;
  text-align: center;
}

/* Link button
   ========================================================================== */

.c-button--link {
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  text-decoration: none;
  &:hover,
  &:active,
  &:hover .c-icon:before,
  &:active .c-icon:before {
    color: darken($color-primary, 15%);
  }
}
