/* ==========================================================================
  Button (link)
   ========================================================================== */

.c-link-button {
  color: $color-blue-600;
  @media (prefers-color-scheme: dark) {
    color: $color-blue-400;
  }
}

.c-link-button .c-button__content {
  display: inline-flex;
  align-items: center;
}