/* ==========================================================================
  Component: Link button
   ========================================================================== */

// Todo
.c-link-button .c-button__content {
  display: inline-flex;
  align-items: center;
}