/* ==========================================================================
  c-badge
   ========================================================================== */

.c-badge {
  color: #333;
  display: inline-block;
  background: #CCC;
  font-size: 1.3rem;
  padding: .6rem;
  border-radius: .8rem;
}

.c-badge--success {
  color: $color-green-500;
  background: $color-green-200;
}

.c-badge--error {
  color: $color-red-500;
  background: $color-red-200;
}