/* ==========================================================================
  Checkbox and Radio buttons
  ---
  Custom styling for checkboxes and radio buttons.
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-checkbox-input-border-radius: 0.3rem !default;
$c-checkbox-size: 1.8rem !default;
$c-checkbox-small-size: 1.2rem !default;
$c-radio-size: 1.8rem !default;
$c-radio-dot-size: $c-radio-size / 2 !default;
$c-checkbox-icon-size: 1.6rem !default;

/* Spacing/Grouping
   ========================================================================== */

.o-form-group .c-checkbox,
.o-form-group .c-radio,
.c-checkbox-group .c-checkbox,
.c-radio-group .c-radio {
  padding: 0.8rem 0;
}

/* Labels
   ========================================================================== */

.c-checkbox,
.c-radio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  label {
    display: flex;
    flex: 1 1 auto;
    line-height: $c-checkbox-size;
    width: 100%;
  }
}

/* Shared styles
   ========================================================================== */

.c-checkbox input[type='checkbox'],
.c-radio input[type='radio'] {
  flex: none;
  -webkit-appearance: none; // Only disable appearance on webkit, Firefox can't properly restyle checkboxes
  vertical-align: top;
  position: relative;

  &:before {
    content: '';
    position: absolute;
  }
}

.c-checkbox input[type='checkbox']:checked,
.c-checkbox input[type='checkbox'][data-indeterminate]:checked,
.c-radio input[type='radio']:checked {
  border-color: $color-primary;

  &:before {
    opacity: 1;
  }
}

/* Custom focus outline
   ========================================================================== */

.c-checkbox input[type='checkbox']:focus,
.c-checkbox input[type='checkbox']:active,
.c-radio input[type='radio']:active,
.c-radio input[type='radio']:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($color-gray-300, .5);
  border-color: $color-gray-300;
  transition: 0.14s box-shadow ease-in-out;
}

/* Checkbox specific
   ========================================================================== */

.c-checkbox input[type='checkbox'] {
  background: #FFF;

  // Standard combo bg + border for inputs
  background: #FFF;
  @media (prefers-color-scheme: dark) {
    background: $color-gray-800;
  }
  border: .1rem solid $color-gray-300;
  @media (prefers-color-scheme: dark) {
    border-color: $color-gray-600;
  }

  border-radius: $c-checkbox-input-border-radius;
  height: $c-checkbox-size;
  width: $c-checkbox-size;
  margin: 0 .8rem 0 0;

  &:before {
    width: 1.6rem;
    height: 1.6rem;
    left: ($c-checkbox-size - $c-checkbox-icon-size - 0.2rem) / 2;
    top: ($c-checkbox-size - $c-checkbox-icon-size - 0.2rem) / 2;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11.69 4.675l-.443.424L6.77 9.575 4.752 7.558l-.442-.422L3.445 8l.423.442 2.46 2.46.442.423.442-.423 4.92-4.92.423-.442-.865-.865z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    opacity: 0;
    transition: all 0.14s;
    transition-property: opacity;
  }

  &[data-indeterminate]:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3E%3Cpath id='Rectangle' d='M12,8c0,-0.552 -0.448,-1 -1,-1l-6,0c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1l6,0c0.552,0 1,-0.448 1,-1Z' style='fill:%23fff;'/%3E%3C/svg%3E") no-repeat;
  }
}

.c-checkbox input[type='checkbox'][disabled] {
  border-color: $color-gray-300;
  background-color: $color-gray-200;
  @media (prefers-color-scheme: dark) {
    border-color: $color-gray-800;
    background-color: $color-gray-700;
    &:before {
       background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11.69 4.675l-.443.424L6.77 9.575 4.752 7.558l-.442-.422L3.445 8l.423.442 2.46 2.46.442.423.442-.423 4.92-4.92.423-.442-.865-.865z' fill='%23666'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    }
  }
}

.c-checkbox input[type='checkbox']:checked:not([disabled]),
.c-checkbox input[type='checkbox'][data-indeterminate]:checked:not([disabled]) {
  background-color: $color-primary;
}

/* Radio specific
   ========================================================================== */

.c-radio input[type='radio'] {
  // Standard combo bg + border for inputs
  background: #FFF;
  @media (prefers-color-scheme: dark) {
    background: $color-gray-800;
  }
  border: .1rem solid $color-gray-300;
  @media (prefers-color-scheme: dark) {
    border-color: $color-gray-600;
  }

  border-radius: 100%;
  height: $c-radio-size;
  width: $c-radio-size;
  margin: 0 .8rem 0 0;
}

.c-radio input[type='radio']:checked {
  &:before {
    content: " ";
    font-size: 0;
    display: inline-block;
    background: $color-primary;
    height: $c-radio-dot-size;
    width: $c-radio-dot-size;
    top: ($c-radio-size - $c-radio-dot-size - 0.2rem) / 2;
    left: ($c-radio-size - $c-radio-dot-size - 0.2rem) / 2;
    border-radius: 50%;
  }
}

.c-radio input[type='radio'][disabled] {
  &:before {
    background: $color-gray-300;
  }
  border-color: $color-gray-300;
  background: $color-gray-100;
  @media (prefers-color-scheme: dark) {
    &:before {
      background: $color-gray-600;
    }
    border-color: $color-gray-800;
    background: $color-gray-850;
  }
}

/* Inline checkbox and Radio
   ========================================================================== */

.c-radio-group--inline {
  .c-radio {
    display: inline-block;
    margin-right: 1.6rem;
  }
}

.c-checkbox-group--inline {
  .c-checkbox {
    display: inline-block;
    margin-right: 1.6rem;
  }
}