/* ==========================================================================
  c-card
 ========================================================================== */

/* Variables
   ========================================================================== */

$c-card-border-radius: 0.3rem !default;
$c-card-border-color: $color-gray-200 !default;

/* Component
   ========================================================================== */

.c-card-list {
  .c-card + .c-card {
    margin-top: 1.2rem;
  }
}

.c-card {
  display: block;
  color: $g-text-color;
  position: relative;
}

.c-card__header {
  margin-bottom: .4rem;
}

.c-card__content {
  padding: 2.4rem;
  border: .1rem solid $c-card-border-color;
  border-radius: $c-card-border-radius;
  background-color: #fff;
  height: 100%;
}


.c-card__footer {
  border-top: 0.1rem solid $c-card-border-color;
  padding: 1.6rem;
}

.c-card .c-content {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

}