/* ==========================================================================
  Custom select
   ========================================================================== */

.c-custom-select {
  border: .1rem solid $color-gray-200;
  @media (prefers-color-scheme: dark) {
    border-color: $color-gray-700;
  }
  display: inline-flex;
  padding: .8rem 1.2rem;
  border-radius: .3rem;
  .c-icon {
    position: relative;
    top: .2rem;
  }
}

.c-custom-select--fullwidth {
  width: 100%;
  justify-content: space-between;
}

.c-custom-select--focus {
  border-color: $color-primary;
  box-shadow: inset 0 0 0 0.1rem $color-primary;
}
