/* ==========================================================================
  Card
 ========================================================================== */

/* Variables
   ========================================================================== */

$c-card-border-radius: 0.3rem !default;

/* Component
   ========================================================================== */

.c-card {
  display: block;
  color: $g-text-color;
  position: relative;
  border: .1rem solid $color-gray-200;
  border-radius: $c-card-border-radius;
  background-color: #fff;
}

.c-card--interactive {
  border-color: $color-gray-400;
  &:hover {
    background: $color-gray-50;
    @media (prefers-color-scheme: dark) {
      background: $color-gray-800;
    }
  }
}

.c-card__inner {
  padding: 2.4rem;
}

.c-card__inner {
  display: block;
}