/* ==========================================================================
  Icon
   ========================================================================== */

.c-icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.c-icon--icon-font {

}

.c-icon--icon-font i:before {
  font-size: 2rem;
}