.c-nav-menu {
  background: #FFF;
  border: .1rem solid $color-gray-200;
  padding: .8rem 0;
  border-radius: .3rem;
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.15);
}

.c-nav-menu__item {
  background: #FFF;
  a {
    padding: .8rem 1.6rem;
    margin: 0 .8rem;
    border-radius: .3rem;
    color: $color-primary;
    display: block;
  }
  a:hover {
    background: $color-gray-50;
  }
}

.c-nav-menu__divider {
  height: .1rem;
  margin: .8rem 0;
  background: $color-gray-100;
}

.c-nav-menu__item.c-nav-menu__item--destructive a {
  color: $color-red-500;
}