/* ==========================================================================
  Component: c-panel
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-panel-padding-all: 2.4rem !default;
$c-panel-padding-horizontal: 2.4rem !default;
$c-panel-padding-vertical: 2.4rem !default;
$c-panel-border-color: $color-gray-150 !default;
$c-panel-border-radius: 0.4rem !default;

/* Standard component construction
   ========================================================================== */

.c-panel {
  background-color: #FFF;
  border-radius: $c-panel-border-radius;
  border: 1px solid $c-panel-border-color;
}

.c-panel__body {
  padding: $c-panel-padding-all;
}

.c-panel__body + .c-panel__body {
  border-top: 1px solid $c-panel-border-color;
}

.c-panel__header {
  display: flex;
  align-items: center;
  height: 5.6rem;
  padding: 0 $c-panel-padding-horizontal;
  background:  $color-gray-25;
  border-radius: 0.4rem 0.4rem 0 0;
  border-bottom: 1px solid $c-panel-border-color;
}

.c-panel__title {
  font-size: 1.6rem;
  font-weight: 500;
}

/* When panels meet tables
   ========================================================================== */

// Adjust standard tables in panels so cell texts align with panel titles/buttons
.c-panel .c-table tbody td:first-child {
  padding-left: 2.4rem;
}

.c-panel .c-table tbody td:last-child {
  padding-right: 2.4rem;
}

/* Panel variants
   ========================================================================== */

.c-panel--large {
  .c-panel__header {
    padding: 0 4rem;
    height: 7.2rem;
  }

  .c-panel__body {
    padding: 4rem;
  }
}

/* Make panels equal height when positioned next to each other
   ========================================================================== */
.c-panel--full-height {
  height: 100%;
  .c-panel__body {
    height: 100%;
  }
}

.c-panel--grid {
  display: flex;
  flex-wrap: wrap;

  .c-panel__body {
    width: 50%;
  }

  .c-panel__header {
    flex: 1 0 100%;
  }

  .c-panel__body:nth-child(even) {
    border-right: 0.1rem solid $color-gray-150;
  }

  .c-panel__body + .c-panel__body {
    border-top: none;
  }

  .c-panel__body:nth-child(n+4) {
    border-top: 0.1rem solid $color-gray-150;
  }
}

@media (max-width: 800px) {
 .c-panel--grid {
   .c-panel__body {
     width: 100%;
   }

   .c-panel__body:nth-child(even) {
    border-right: none;
  }

   .c-panel__body + .c-panel__body {
     border-top: 1px solid $color-gray-150;
   }
 }
}
