/* ==========================================================================
  Pill list
  ---
  Wrap pills
   ========================================================================== */

.c-pill-list {
  display: flex;
  flex-wrap: wrap;
}

.c-pill-list__item {
  margin-left: .4rem;
}