/* ==========================================================================
  Popover
   ========================================================================== */

.c-popover {
  background: #FFF;
  padding: .8rem;
  border-radius: .3rem;
  border: .1rem solid #CCC; padding: 2.4rem;
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.15);
}