.c-styleguide-sidebar {
  padding: 2.4rem 0;
  border-right: .1rem solid $color-gray-150;
  @media (prefers-color-scheme: dark) {
    border-color: $color-gray-800;
  }
  min-width: clamp(18rem, 20vw, 24rem);
  overflow: auto;
}
