/* ==========================================================================
   Side menu
   ========================================================================== */

.c-side-menu {
  background: #FFF;
  @media (prefers-color-scheme: dark) {
    background: $color-gray-900;
  }
}

.c-side-menu__item a {
  display: flex;
  align-items: center;
  padding: .8rem 3.2rem;
  color: $color-gray-500;

  &:hover,
  &:focus {
    background: $color-gray-50;
    @media (prefers-color-scheme: dark) {
      background: $color-gray-800;
    }
    color: $color-blue-600;
    @media (prefers-color-scheme: dark) {
      color: $color-blue-400;
    }
  }

  .c-icon {
    margin-right: 1.2rem;
    color: $color-gray-300;
    @media (prefers-color-scheme: dark) {
      color: $color-gray-600;
    }
  }
}

.c-side-menu__item a:focus,
.c-side-menu__item--active a {
  background: $color-gray-50;

  @media (prefers-color-scheme: dark) {
    background: $color-gray-800;
  }

  color: $color-blue-600;
  @media (prefers-color-scheme: dark) {
    color: $color-blue-400;
  }
  
  
  // @todo does this code make any sense? If it's SVG, it should be fill
  .o-svg-icon {
    color: $color-blue-600;
    @media (prefers-color-scheme: dark) {
      color: $color-blue-400;
    }
  }
}

.c-side-menu__section-header {
  padding: 1.4rem 3.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}