/* ==========================================================================
  Component: side menu
   ========================================================================== */

.c-side-menu {
  background: #FFF;
}

.c-side-menu__item a {
  display: flex;
  align-items: center;
  padding: 1.4rem 3.2rem;
  color: $color-gray-500;

  &:hover,
  &:focus {
    background: $color-gray-50;
  }

  .o-svg-icon {
    margin-right: 1.2rem;
    color: $color-gray-300;
  }
}

.c-side-menu__item--active a {
  background: $color-gray-50;
  color: $color-primary;
  .o-svg-icon {
    color: $color-primary;
  }
}

.c-side-menu__section-header {
  padding: 1.4rem 3.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}