/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Blue grays
 ========================================================================== */

$color-blue-gray-25: #F9FAFC;
$color-blue-gray-50: #F5F6F9;
$color-blue-gray-100: #E9ECF1;
$color-blue-gray-150: #DEE1E8;
$color-blue-gray-200: #CED3DE;
$color-blue-gray-300: #A8AFBE;
$color-blue-gray-400: #959DAC;
$color-blue-gray-500: #737C8D;
$color-blue-gray-600: #576175;
$color-blue-gray-700: #414959;
$color-blue-gray-800: #2B303B;
$color-blue-gray-900: #15181F;
$color-blue-gray-1000: #000000;

/* Grays
   ========================================================================== */

$color-gray-50:   #F2F2F2;
$color-gray-100:  #E6E6E6;
$color-gray-150:  #D9D9D9;
$color-gray-200:  #CCCCCC;
$color-gray-300:  #B3B3B3;
$color-gray-400:  #999999;
$color-gray-500:  #808080;
$color-gray-550:  #737373;
$color-gray-600:  #666666;
$color-gray-700:  #4D4D4D;
$color-gray-800:  #333333;
$color-gray-850:  #262626;
$color-gray-900:  #1A1A1A;
$color-gray-950:  #0D0D0D;

/* Blues
  ========================================================================== */

$color-blue-200: #D4E1FC;
$color-blue-300: #94B4F9;
$color-blue-400: #749CF2;
$color-blue-600: #5584EB;

/* Reds
  ========================================================================== */

$color-red-500: #D34D4D;
$color-red-600: #AA3C3C;
$color-red-700: #842626;
$color-red-200: #F8E8ED;

/* Greens 
   ========================================================================== */

$color-green-200: #EBF9F6;
$color-green-400: #CDEBDB;
$color-green-500: #8ACEAA;
$color-green-600: #417057;
$color-green-700: #295B40;

/* Oranges
   ========================================================================== */

$color-orange-200: #FEF9EA;
$color-orange-500: #EEB902;
$color-orange-600: #C97F11;
$color-orange-700: #955F0F;
