@import "https://unpkg.com/mono-icons@1.2.4/iconfont/icons.css";

@import "../scss/s-colors";
@import "../scss/s-fonts";
@import "../scss/s-semantic-colors";
@import "../scss/s-variables";

@import "../scss/reset";
@import "../scss/e-base";

@import "../scss/o-container";
@import "../scss/o-dynamic-grid";
@import "../scss/o-form-group";
@import "../scss/o-scroll-wrapper";

@import "../scss/c-accordion";
@import "../scss/c-alert-skins";
@import "../scss/c-alert-stack";
@import "../scss/c-alert";
@import "../scss/c-avatar";
@import "../scss/c-badge";
@import "../scss/c-button-link";
@import "../scss/c-button-skins";
@import "../scss/c-button-toolbar";
@import "../scss/c-button";
@import "../scss/c-card";
@import "../scss/c-checkbox-radio";
@import "../scss/c-content";
@import "../scss/c-frame";
@import "../scss/c-icon";
@import "../scss/c-input";
@import "../scss/c-modal";
@import "../scss/c-nav";
@import "../scss/c-navbar";
@import "../scss/c-panel";
@import "../scss/c-select";
@import "../scss/c-side-menu";
@import "../scss/c-spinner";
@import "../scss/c-table";
@import "../scss/c-toolbar";



@import "../scss/u-display";
@import "../scss/u-text";
@import "../scss/u-spacer";

html, body, #svelte {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Bedrock

.br-prototype-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
}

.br-prototype-wrapper__content {
  flex: 0 1 100%;
  height: 100%;
}

.br-prototype-wrapper__nav {
  z-index: 3000;
  width: 32rem;
  background: #FFF;
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.15);
}