@import "https://unpkg.com/mono-icons@1.2.4/iconfont/icons.css";

@import "../scss/s-colors";
@import "../scss/s-fonts";
@import "../scss/s-semantic-colors";
@import "../scss/s-variables";

@import "../scss/reset";
@import "../scss/e-base";

@import "../scss/o-container";
@import "../scss/o-dynamic-grid";
@import "../scss/o-form-group";
@import "../scss/o-scroll-wrapper";

@import "../scss/c-button";
@import "../scss/c-icon";
@import "../scss/c-badge";
@import "../scss/c-frame";
@import "../scss/c-button-skins";
@import "../scss/c-side-menu";
@import "../scss/c-card";
@import "../scss/c-panel";
@import "../scss/c-input";
@import "../scss/c-content";
@import "../scss/c-toolbar";
@import "../scss/c-navbar";
@import "../scss/c-nav";
@import "../scss/c-table";

@import "../scss/u-display";
@import "../scss/u-text";
@import "../scss/u-spacer";

html, body, #svelte {
  width: 100%;
  height: 100%;
  overflow: hidden;
}