/* ==========================================================================
  Stylesheet for styleguide
  ITCSS + BEM
  JUI@0.1
   ========================================================================== */

@import "../scss/s-colors";
@import "../scss/s-semantic-colors";
@import "../scss/s-variables";

// Styleguide specific
@import "../scss/c-tiny-button";
@import "../scss/c-styleguide-card-inner";
@import "../scss/c-styleguide-sidebar";
@import "../scss/prism";

// Bedrock specific, remove in production

.br-prototype-wrapper {
  
  height: 100%;
  width: 100%;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    
  }
}

.br-prototype-wrapper__content {
  
  height: 100%;
  @media (min-width: 768px) {
    flex: 0 1 100%;
  }
}

.br-prototype-wrapper__nav {
  z-index: 65;
  width: 100%;
  @media (max-width: 767px) {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
  }
  
  @media (min-width: 768px) {
    width: 28rem;
    flex: 0 0 28rem;
  }

  background: #FFF;
  @media (prefers-color-scheme: dark) {
    background: $color-gray-850;
  }
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.15);
}

.br-prototype-nav-is-open .c-modal {
  left: 11%;
  position: relative;
  &.c-modal--fullscreen {
    left: 0;
    padding-left: calc(25rem);
  }
}

.br-prototype-nav-is-open .c-styleguide-card-inner .c-modal {
  left: 0;
}